.builder {
  display: flex;
  flex-direction: column;
  /* gap: 32px; */

  padding: 32px;

  border-radius: 16px;
}

.actions {
  display: flex;
  justify-content: center;

  margin-top: 32px;
}

.nextButton {
  padding: 14px 32px;

  border: 2px solid var(--primary);
  border-radius: 8px;

  background: transparent;

  color: var(--primary);

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: .2s ease;
}

.nextButton:hover {
  background: var(--primary);

  color: var(--bg);
}