.reviewItems {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.header h2 {
  margin: 0;

  color: var(--text);

  font-size: 40px;
  font-weight: 700;
}

.header p {
  margin: 0;

  max-width: 550px;

  color: var(--text-light);

  font-size: 16px;
  line-height: 1.6;
}

@media(max-height: 1077px) {


  .header h2 {
    font-size: 32px;
  }

  .header p {
    font-size: 14px;
  }
}