.step {
  padding: 5px 0px;
  
}

.open {

  background: var(--bg-secondary);

  border-radius: 16px;


}

.content {
  /* padding-top: 28px; */
}

.stepNumber {
  color: var(--text-light);

  font-size: 12px;
  font-weight: 600;

  text-transform: uppercase;

  letter-spacing: .12em;

  padding: 8px 16px;
}