.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

@media (max-height: 1077px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .grid>* {
    flex: 0 0 calc(50% - 10px);
  }
}