.productCard {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 11px;

  background: var(--bg);

  box-sizing: border-box;

  border: 2px solid transparent;

  border-radius: 10px;

  transition: border-color .2s ease;
}

.selected {
  border: 2px solid var(--primary-light);
}

.imageWrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 120px;
}

.image {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
  height: 100%;
}

.content h3 {
  margin: 0;

  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;

  color: var(--text);
}

.content p {
  margin: 0;

  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.3;

  color: var(--text-light);
}

.content a {
  color: var(--primary);

  font-family: var(--font-family);
  font-weight: 600;

  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
}

.variantWrapper {
  display: flex;
  justify-content: flex-start;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.required {
  color: var(--text-light);
  font-size: 12px;
  font-weight: 400;
}

@media (max-height : 1077px) {

  .productCardTablet {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding: 11px;
    /* width: 500px; */
    background: var(--bg);
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color .2s ease;
    min-width: 370px;
  }

  .imageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 120px;
  }

  .tabletContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    height: 100%;
  }

}